.start-screen--container{
    font-family: 'Figtree', sans-serif;
}
.title--container > h1{
    font-size:5.25em;
    font-weight: bold;
    text-transform: uppercase;
}
.subtitle--container{
    margin-bottom:30px;
    margin-top:15px;
}
.button--container{
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    .title--container > h1{
        font-size: 3.15em;
    }
    .subtitle--container > h2 {
        font-size:1.25em;
        max-width:350px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 420px){
    .title--container > h1{
        font-size: 2.5em;
    }
}