.start-screen--container{
    font-family: 'Figtree', sans-serif;
}
.subtitle--container{
    margin-bottom:30px;
    margin-top:15px;
}
.button--container{
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .subtitle--container > h2 {
        font-size:1.25em;
        max-width:350px;
        margin: 0 auto;
    }
}